html, body {
	margin: 0;
	padding: 0;
	height: 80%;
}

#map {
	width: 80%;
	height: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.bold {
	font-weight: bold;
}

.owm-layercontrol-header {
	font-size: larger;
	font-weight: bold;
	display: block;
	position: relative;
}


